.section {
  position: relative;
}

.btnBack {
  width: 100%;
}

h2 {
  text-align: center;
}

span {
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
}

ul {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

li {
  margin: 0 auto;
  display: table;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.9);
  margin-bottom: 20px;
}
